.logo {
  position: relative;
  width: 7em;
  height: 0;
}
.logo .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
}
.logo img {
  width: 100%;
  padding: 0.5em;
}
body {
  background-image: url(../images/Hintergrund.png);
  background-size: cover; /* Deckt den gesamten Bereich ab */
  background-repeat: repeat-y; /* Wiederholt das Bild vertikal */
  background-attachment: fixed;
}
.content {
  font-family: "Kenney Rocket";
  text-align: center;
  display: flex;
}
@font-face {
  font-family: "Kenney Rocket"; /* Name your font family */
  src: url(../fonts/Kenney\ Rocket.ttf); /* Locate the .ttf file within your directory*/
}
#home {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#home:hover {
  color: olivedrab;
}
#wiki {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#wiki:hover {
  color: olivedrab;
}
#about {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#about:hover {
  color: olivedrab;
}
#contact {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#contact:hover {
  color: olivedrab;
}
#karte {
  margin-top: 10vh;
  margin-left: 10vh;
  height: 310vh;
}
#kartenimg {
  height: 35vh;
  margin-top: 50vh;
}
#gegner {
  margin-top: 10vh;
  margin-left: 10vh;
  margin-bottom: 10vh;
  height: 310vh;
}
#gegnerimg {
  margin-top: 2vh;
  margin-left: 2vh;
  height: 35vh;
}
#tuerme {
  margin-top: 10vh;
  margin-left: 10vh;
  height: 310vh;
}
#tuermeimg {
  margin-top: 19vh;
  height: 35vh;
}
#header {
  font-family: "Kenney Rocket";
  text-align: center;
  font-weight: 800;
  font-stretch: expanded;
  font-size: 10vh;
}
