.logo {
  position: relative;
  width: 7em;
  height: 0;
}
.logo .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
}
.logo img {
  width: 100%;
  padding: 0.5em;
}
body {
  background-image: url(../images/Hintergrund.png);
  background-size: 181vh 100vh;
}
.content {
  font-family: "Kenney Rocket";
  text-align: center;
  display: flex;
}
@font-face {
  font-family: "Kenney Rocket"; /* Name your font family */
  src: url(../fonts/Kenney\ Rocket.ttf); /* Locate the .ttf file within your directory*/
}
#home {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#home:hover {
  color: olivedrab;
}
#wiki {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#wiki:hover {
  color: olivedrab;
}
#about {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#about:hover {
  color: olivedrab;
}
#contact {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#contact:hover {
  color: olivedrab;
}
#karte {
  margin-top: 10vh;
  margin-left: 20vh;
  height: 40vh;
}
#kartenimg {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
  height: 35vh;
}
#gegner {
  margin-top: 10vh;
  margin-left: 20vh;
  height: 40vh;
}
#gegnerimg {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
  height: 35vh;
}
#tuerme {
  font-family: "Kenney Rocket";
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
