.logo {
  position: relative;
  width: 7em;
  height: 0;
}
.logo .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
}
.logo img {
  width: 100%;
  padding: 0.5em;
}
body {
  background-image: url(../images/Hintergrund.png);
  background-size: cover; /* Deckt den gesamten Bereich ab */
  background-repeat: repeat-y; /* Wiederholt das Bild vertikal */
  background-attachment: fixed;
}
.content {
  font-family: "Kenney Rocket";
}
@font-face {
  font-family: "Kenney Rocket";
  src: url(../fonts/Kenney\ Rocket.ttf);
}
#header {
  margin-top: 5vh;
  font-weight: 800;
  font-stretch: expanded;
  font-size: 10vh;
  text-align: center;
}
.img {
  margin: 5vh;
  width: 40vh;
}
.image-container {
  display: flex;
  align-items: center;
  margin: 5vh auto;
  width: 80%;
}
.text {
  font-size: 1.2rem;
  margin-left: 5vh;
  text-align: justify;
  margin-right: 5vh;
}
#textpron {
  margin-left: 22vh;
  margin-right: 22vh;
}
#home {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#home:hover {
  color: olivedrab;
}
#wiki {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#wiki:hover {
  color: olivedrab;
}
#about {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#about:hover {
  color: olivedrab;
}
#contact {
  color: green;
  background-color: lightgreen;
  border-radius: 50vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
#contact:hover {
  color: olivedrab;
}